<h3>This is our servers component!</h3>
<hr>
<label>Server Name</label>
<input 
    type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)"
>
<input 
    type="text" 
    class="form-control"
    [(ngModel)]="serverName"
>
<p> {{ serverName }} </p>

<button class="btn btn-toolbar btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="allowNewServer"></p>
<p>
    {{ allowNewServer }}
</p> -->
<p> {{ serverCreationStatus }} </p>


<app-server></app-server>